<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1rem">
  <div fxFlex=180px>
    <img [src]='item.product.url'>
  </div>
  <div fxFlex=auto >
    <h3>{{item.product.name}}</h3>
    <form (ngSubmit)='changeQuantity()'>
      <mat-form-field style="width: 75px;" color=primary>
        <button type="button" color=accent matPrefix mat-icon-button (click)="quantity>1?quantity = quantity - 1:null"><mat-icon>remove</mat-icon></button>
        <button type="button" color=accent matSuffix mat-icon-button (click)="quantity = quantity + 1"><mat-icon>add</mat-icon></button>
        <input matInput  type="number" required [(ngModel)]="quantity" name="quantity" min=0>
      </mat-form-field>
      <button mat-button [disabled]='quantity === item.quantity' color=primary>Save</button> | <button mat-button type="button" (click)="remove()">Delete</button>
    </form>
  </div>
  <div fxFlex=100px fxLayout="column">
    {{item.product.price | currency}}
    <span>Qty: {{item.quantity}}</span>
    <span><hr></span>
    <span>{{ (item.product.price * item.quantity ) | currency }}</span>
  </div>
</div>